<div class="fluid-container">
  <h2>{{book.name}}</h2>
  <img src="{{book.imageUrl}}" alt="Front Image of {{book.name}}">
  <p>{{book.resume}}</p>
</div>
<div id="map"></div>
<script>
  let arrayUserId = ""
  let id = "{{book._id}}"
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GKEY}}"></script>
<script src="/javascripts/maps.js"></script>